@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}

:root{
    --pale-navy: #36384D;
    --vermellion: #FF6155;
    --dark-navy: #242742;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--pale-navy);
}



main{
    display: none;
    position: relative;
    display: flex;
    width: 375px;
    height: 812px;
    justify-content: center;
    align-items: center;
    background: var(--pale-navy);
}
.rect{
    position: absolute;
    top: 0px;
    left:0px;
    width: 375px;
    height: 812px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
}
img{
    position: absolute;
    top: 149px;
    left: 24px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}
.title{
    position: absolute;
    top: 253px;
    left: 24px;
    width: 327px;
    color: var(--dark-navy);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}
.text{
    position: absolute;
    top: 357px;
    left: 24px;
    width: 327px;
    color: var(--dark-navy);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
input.submit{
    border: none;
    position: absolute;
    bottom: 40px;
    left: 24px;
    width: 327px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--dark-navy);
    color: var(--white, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (Bold) */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
input.submit:hover{
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background: var(--gradient-1, linear-gradient(225deg, #FF6A3A 0%, #FF527B 100%));
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
}
#strong{
    font-weight: bold;
}




/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}